lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea

# Ignore Config
config/auth.js
config/config.js
tmp
config/database.js

# Ignore public folder, because it will be created
public
doc/*.pdf
