@import "../../node_modules/bootstrap/less/bootstrap.less";

@import "oc_fonts.less";

@import "oc_colors.less";
@import "oc_sector_colors.less";

@import "oc_form.less";
@import "oc_buttons.less";
@import "oc_input.less";
@import "oc_footers.less";
@import "oc_cookie_prompt.less";

@import "oc_navigation.less";
@import "oc_login_signup.less";

@import "tags.less";

@import "oc_HomeViewHeader.less";
@import "oc_HomeViewFooter.less";

@import "./scenarios/ScenarioThumbnail.less";
@import "./scenarios/ScenarioTableView.less";
@import "./scenarios/ScenarioEvalView.less";
@import "./scenarios/ScenarioEditView.less";

@import "./users/UserView.less";
@import "./users/UserAvatar.less";

@import "oc_icons.less";

// import always last
@import "oc_desktop.less";
@import "oc_mobile.less";

body {
  background-color: @oc-grey;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Cooper Hewitt Book';
}

/* TOP WINDOW SHADOW */
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

html {
  height: 100%;
}

a {
  color: @oc-magenta;
}

a:hover {
  color: @oc-magenta;
}

.oc-link {
  color: @oc-white;
}

.oc-page-wrapper {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
  background-image: url('../../static/img/oc-hero-img.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -40px;
}

.ocTable {
  .table;
  .table-striped;
  .table-bordered;
  .table-hover;
}

.adminUsersTable {
  .ocTable;
}

input[type="submit"] {
  .btn;
  .btn-primary;
}

/* Sysinfo */

.sysinfo table {
  .ocTable;
}

/* Flash message */

.flash-queue {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 12px;
  min-height: 50px;
}

@media only screen and (max-width: 420px) {
  .flash-queue {
    width: 96%;
    margin-left: -48%;
  }
}

.flash-message {
  position: relative;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 8px 20px 8px 8px;

  span.bold {
    font-weight: bold;
  }

  pre {
    max-height: 200px;
    overflow: auto;
  }
}

.flash-delete {
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 18px;
  padding: 13px 10px 17px;
}

.flashfade-enter {
  max-height: 0;
  overflow: hidden;
  transition: max-height .1s ease-in;
}

.flashfade-enter.flashfade-enter-active {
  max-height: 500px;
}

.flashfade-leave {
  max-height: 500px;
  transition: max-height .1s ease-out;
}

.flashfade-leave.flashfade-leave-active {
  max-height: 0;
  overflow: hidden;
}

/*
 * Scenarios
 */

.oc-scenario-controls {
   padding: 0;
   margin-top: 20px;
   text-align: center;
}

.header-meta {
  padding-left: 0px;
}

.scenario-counter {
  float: right;
}

@media (min-width: 768px) {
  .oc-contact-submit-btn-wrapper > {
    max-width: 150px;
    min-width: 150px;
    float: left;
  }
}



@media (max-width: @screen-md-min) {
  .oc-footer-small {
    line-height: 40px;
  }
  .scenario-article-narrative,
  #disqus_thread,
  .scenario-article-footer {
    padding: 5px 15px 0px 15px;
  }
}

.btn-toolbar {
  display: inline-block;
}





.avatar {
  margin-top: 5px;
}

.scenario-article-header-left-bottom {
  padding-left: 15px;
}

@media only screen and (max-width : 480px) {
  .scenario-article-widget-data {
    float: left;
  }
}

.scenario-article-summary-wrapper {
  padding-right: 15px;
}

.oc-home-view-footer {
  text-align: center;
}

.oc-home-view-section-icon-wrapper {
  display: inline-block;
  text-align: center;
  height: 155px;
  width: 155px;
  background-color: @oc-white;
  border-radius: 100%;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
}

.oc-home-view-section-icon {
  height: 110px;
  width: 90px;
}

.oc-home-view-section-wrapper {
  text-align: center;
}

.oc-home-view-section-plus {
  color: @oc-white;
  font-family: 'Cooper Hewitt Semibold';
  font-size: 78px;
}

.oc-home-view-header-text {
  color: @oc-white;
  font-family: 'Cooper Hewitt Semibold';
  margin-top: 0;
}

.oc-home-view-section-signup-wrapper {
  text-align: center;
}

.oc-home-view-section-icons-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

.oc-home-view-section-signup-wrapper {
  margin-bottom: 140px;
}

.oc-home-view-header-sub-text {
  margin-top: 0;
  color: @oc-white;
}

.oc-home-view-section-icon-wrapper > p {
  color: @oc-dark-grey;
  font-weight: bold;
}

@media (max-width : 950px) {
  #oc-home-view-signup-btn {
    .oc-ghost-pink;
  }
  #oc-home-view-signup-btn:hover {
    background-color: @oc-magenta;
    color: @oc-white;
  }
  .oc-eval-answers-wrapper {
    text-align: center;
  }
  .nav-login-btn:hover,
  .nav-logout-btn:hover,
  .nav-signup-btn:hover,
  .nav-profile-btn:hover,
  .navbar-create-btn:hover,
  .navbar-explore-btn:hover {
    background-color: @oc-white !important;
  }
  .oc-left-links-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen
and (max-width : 1400px) {
  .oc-home-view-footer-wrapper,
  .scenario-list {
    .make-md-column(10);
    .make-md-column-offset(1);
  }
  .scenario-article-widget-data {
    padding-left: 0;
    padding-right: 0;
  }
  .oc-page-wrapper {
    width: 100% !important;
  }
  .oc-cookie-prompt-wrapper {
    .make-lg-column(10);
    .make-lg-column-offset(1);
  }
  .oc-home-view-section-signup-wrapper {
    margin-bottom: 105px !important;
  }
}


@media only screen
and (max-width : 1200px) {
  .fa-angle-double-down {
    color: @oc-magenta;
  }
  .oc-home-view-section-signup-wrapper > p {
    color: @oc-magenta !important;
  }
}

@media only screen
and (max-width : 750px) {
  .oc-home-view-section-plus {
    display: inherit;
    color: @oc-magenta;
  }
  .oc-filters-panel .panel-heading > h4 {
    padding-top: 20px !important;
    margin-top: 20px !important;
  }
}

@media only screen
and (max-width : 1400px)
and (min-width : 740px) {
  .oc-home-view-section-plus {
    padding-right: 0;
  }
  .oc-home-view-section-icon {
    height: 65px !important;
    margin-bottom: 5px;
  }
  .oc-home-view-section-icon-wrapper {
    height: 135px !important;
    width: 135px !important;
    padding-top: 20px;
  }
  .oc-home-view-section-icons-wrapper {
    margin-top: 65px !important;
    margin-bottom: 65px !important;
  }
}

@media only screen
and (max-width : 1100px)
and (min-width : 800px) {
  #oc-divider {
    margin-top: 195px !important;
  }
}

.navbar .container {
  width: 100% !important;
  padding-left: 5%;
  padding-right: 5%;
}

#oc-divider {
  margin-top: 600px; // 600 jquery mouse move
  position: absolute;
}

.oc-home-view-section-icon-text {
  font-size: 13px;
  font-family: 'Cooper Hewitt Semibold';
}

.oc-home-view-section-signup-wrapper > p {
  display: block;
  margin-top: 105px;
  color: @oc-white;
}

#oc-home-view-footer-explore-btn-wrapper {
  padding: 0 !important;
  margin-top: 35px;
  .make-sm-column(4);
  .make-sm-column-offset(4);
  .make-xs-column(10);
  .make-xs-column-offset(1);
}

.navbar-header {
  .make-lg-column(4);
}

.oc-left-links-wrapper {
  .make-lg-column(4);
}

.navbar-right {
  .make-lg-column(4);
  padding-left: 0;
  padding-right: 0;
}

#top {
  z-index:0;
  background-size: calc(103%);
}

.adminUsersTable {
  position: relative;
}

.dropdown-menu {

}

.dropdown-toggle {
  background-color: @oc-magenta !important;
  color: @oc-white !important;
}

.withLoader {
  position: relative;
  min-height: 180px;

  .loadingFrame {
    text-align: center;
    background: @oc-white;
    horizontal-align: center;

    position: absolute;
    top: 0;
    left: 0;

    border: 4rem solid @oc-grey;
    height: 180px;
    width: 100%;
    padding: 2rem 4rem;

    z-index: 9001;

    &.loaded {
      opacity: 0.01;
      transition: opacity 200ms ease-in,
      z-index 0s linear 250ms;
      z-index: -1;
    }

    i {
      color: @oc-meta-grey;
      margin-bottom: 1rem;
    }
  }

  .loadingContent {
    visibility: hidden;
  }
}

.oc-disqus-wrapper {
  margin-top: 75px;
}

.oc-save-profile-btn-wrapper {
  .make-sm-column(4);
  .make-sm-column-offset(4);
  .make-xs-column(8);
  .make-xs-column-offset(2);
}

.oc-filters-panel {
  border: none;
}

.oc-filters-panel.panel-default {
  background: none !important;
}

.oc-filters-panel.panel {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.oc-filters-panel .panel-heading {
  background: none !important;
}

.oc-filters-panel .panel-body {
  background-color: @oc-white;
}

#scenarioListSearchFormActors,
#scenarioListSearchFormSectors,
#scenarioListSearchFormDevices {
  display: none;
}


#scenarioListSearchFormQ {
  margin-top: 0px;
  margin-bottom: 0px;
  background: @oc-white;
}

#oc-search-box {
  padding: 0;
}

#oc-search-btn {
  background: @oc-white;
  border: none;
  border-bottom: 2px solid @oc-magenta;
  color: @oc-magenta;
  border-radius: 0;
}

#oc-search-form {
  .make-sm-column(4);
  .make-sm-column-offset(4);
  float: right !important;
  margin-bottom: 0;
  padding-right: 0;
}

.scenario-list-search-form .panel-group {

}

.scenario-list-search-form .panel-group,
.scenario-list-search-form .form-group {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.oc-filters-panel .panel-collapse > div {
  border: none !important;
}

#oc-search-desc-icon {
  position: relative;
  top: -3px;
  padding-left: 5px;
}
