@import "oc_colors.less";
@import "oc_fonts.less";

.oc-ghost {
  background: none;
  font-family: 'Cooper Hewitt Semibold';
  border-radius: 1px;
  border: 1px solid;
}

.oc-button-default {
  border-radius: 2px;
  border: 0;
  font-family: 'Cooper Hewitt Semibold';
}

.oc-button {
  .oc-button-default;
  background-color: @oc-magenta;
  color: @oc-white;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  width:100%;
}

.oc-button:hover {
  background-color: @oc-hover-black;
  color: @oc-white;
}

.oc-button:disabled {
  background-color: #F8B2C5;
}

.oc-ghost-white {
  .oc-ghost;
  color: @oc-white;
}

.oc-ghost-pink {
  .oc-ghost;
  color: @oc-magenta;
}

.oc-ghost-white:hover {
  background-color: @oc-white;
  color: @oc-magenta;
  border: 1px solid @oc-white;
}

.oc-ghost-white > div {
  padding-top: 5px;
}

.oc-button-white {
  .oc-button-default;
  color: @oc-dark-grey;
  margin: 0px;
  padding: 6px;
  vertical-align: text-top;
}

.oc-button-white:hover {
  background-color: @oc-magenta;
  color: @oc-white;
}
