@import "oc_colors.less";

.oc-button {
  border-radius: 2px;
  border: 0;
  background-color: @oc-magenta;
  color: @oc-white;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  width:100%;
}

.oc-button:hover {
  background-color: @oc-hover-black;
  color: @oc-white;
}

.oc-button:disabled {
  background-color: gray;
}
