@import "oc_colors.less";
@import "../../node_modules/bootstrap/less/bootstrap.less";

.oc-input {
  .form-control;
  border: 1px solid #9C9C9C;
  border-radius: 4px;
  box-shadow: none;
  min-height: 55px;
  font-size: 17px;

  background-color: #FFF;
  color: @oc-dark-gray;
  padding: 6px 12px;

}

.oc-input:focus {
  border: 1px solid @oc-magenta;
  -webkit-box-shadow: 0 0 8px @oc-magenta;
  -moz-box-shadow: 0 0 8px @oc-magenta;
  box-shadow: 0 0 8px @oc-magenta;
}

.oc-input-extra {
  .form-control;
  border: none;
  box-shadow: none;
  color: @oc-magenta;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid @oc-magenta;
  border-radius: 0;
}

.ReactTags__tagInput > input:focus {
  border-color: @oc-magenta !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.ReactTags__suggestions .oc-tag-item {
  border: 2px solid @oc-white;
  color: @oc-white;
}
