
.sector-icon {
  background-repeat: no-repeat;
}

.transport_icon {
  .sector-icon;
  background-image: url('../../static/img/transport_icon.svg');
}

.agriculture_icon {
  .sector-icon;
  background-image: url('../../static/img/agriculture_icon.svg');
  background-repeat: no-repeat;
}

.cultural_icon {
  .sector-icon;
  background-image: url('../../static/img/cultural_icon.svg');
}

.energy_icon {
  .sector-icon;
  background-image: url('../../static/img/energy_icon.svg');
}

.environment_icon {
  .sector-icon;
  background-image: url('../../static/img/environment_icon.svg');
}

.healthcare_icon {
  .sector-icon;
  background-image: url('../../static/img/healthcare_icon.svg');
}

.public_icon {
  .sector-icon;
  background-image: url('../../static/img/public_icon.svg');
}

.retail_icon {
  .sector-icon;
  background-image: url('../../static/img/retail_icon.svg');
}
