@import "oc_colors.less";

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 680px) {
  .oc-home-view-section-plus {
    color: #333 !important;
    opacity: 0.8;
    font-weight: bold;
    display: block !important;
  }
  .oc-page-wrapper {
    background-position: 0px 50px !important;
  }
  #oc-divider {
    margin-top: 110px !important;
  }
}
