@import "oc_colors.less";

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 680px) {
  .oc-home-view-section-plus {
    color: @oc-magenta !important;
    opacity: 0.8;
    font-weight: bold;
    display: block !important;
  }
  .oc-page-wrapper {
    background-position: 0px 50px !important;
  }
  #oc-divider {
    margin-top: 140px !important;
  }
  .navbar-brand img {
    width: 135px !important;
    top: -13px !important;
  }
  .navbar {
    position: absolute;
    width: 100%;
    z-index: 9999;
  }
}

@media only screen and (min-device-width: 510px) and (max-device-width: 720px) {
  .oc-page-wrapper {
    background-position: 0px 50px !important;
  }
  #oc-divider {
    margin-top: 220px !important;
  }
}
