@import "oc_colors.less";
@import "oc_fonts.less";

.oc-body-h1-pink {
  font-family: 'Cooper Hewitt Semibold';
  font-size: 36px;
  color: @oc-magenta;
}

.oc-body-h1-white {
  font-family: 'Cooper Hewitt Semibold';
  font-size: 36px;
  color: @oc-white;
}
