<!doctype html>
<html>
<head>
    <title>OrganiCity Scenario Tool</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>
<div class="container">

<% include nav %>
