<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="OrganiCity" src="/static/img/organicity_icon.png" width="81" height="40">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/scenarios">Scenarios</a></li>
            <% if (req_user) { %>
            <li><a href="/auth/profile">Profile</a></li>
            <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if(req_user) { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
            <% } %>
        </ul>
    </div>
</nav>
