<script type="text/jsx" src="/static/js/scenarios.js"></script>
<script type="text/jsx">
	React.render(<Scenario scenarioId="<%= scenario.id %>" />, document.getElementById('content'));
</script>
<div id="content"></div>
