<% include ../header %>

    <div class="row">
        <h2>Scenarios</h2>

        <% scenarios.forEach(function(scenario){ %>
            <% include scenario %>
        <% }) %>

    </div>

<% include ../footer %>
