<% include ../header %>

    <div class="row">
        <h2>Create a new Scenario</h2>
        Title: <input type="title" id="scenario-title"><br>
        Text: <input type="text" id="scenario-text"><br>
        <% if(id) { %>
        <button id="scenario-edit">Edit</button>
        <% } else { %>
        <button id="scenario-create">Create</button>
        <% } %>


        <script>
        
            <% if(id) { %>

                $.ajax({
                    type : "GET",
                    url : "/rest/scenarios/<%=id %>",
                    success : function(e){
                        $('#scenario-title').val(e.title);
                        $('#scenario-text').val(e.text);
                    },
                    error: function(error){
                        console.log("error", error);                
                    }
                });

                $('#scenario-edit').click(function() {
                    var o = {
                        title : $('#scenario-title').val(),
                        text : $('#scenario-text').val(),
                    }
                    $.ajax({
                        type : 'PUT',
                        url : "/rest/scenarios/<%=id %>",
                        data : JSON.stringify(o),
                        contentType : 'application/json',
                        success : function(o){
                            window.location = "/scenarios/<%=id %>";
                        },
                        error: function(){
                            console.log("error", error);                
                        }
                    });
                }); 

            <% } else { %>
                $('#scenario-create').click(function() {
                    var o = {
                        title : $('#scenario-title').val(),
                        text : $('#scenario-text').val(),
                    }
                    $.ajax({
                        type : 'POST',
                        url : "/rest/scenarios",
                        data : JSON.stringify(o),
                        contentType : 'application/json',
                        success : function(o){
                            window.location = "/scenarios";
                        },
                        error: function(){
                            console.log("error", error);                
                        }
                    });
                });   
            <% } %>
        </script>

<% include ../footer %>
