<% include ../header %>

    <div class="row">
        <h1><%=title %></h1>

        <% scenarios.forEach(function(scenario){ %>
            <% include scenario %>
        <% }) %>

    </div>

<% include ../footer %>
