<% include ../header %>

    <div class="row">
        <% if(id) { %>
        <h1>Edit Scenario</h1>
        <% } else { %>
        <h1>Create a new Scenario</h1>
        <% } %>

        <p>
        Title: <input type="title" id="scenario-title"><br>
        Text: <input type="text" id="scenario-text"><br>
        <% if(id) { %>
        <button id="scenario-send">Edit</button>
        <% } else { %>
        <button id="scenario-send">Create</button>
        <% } %>
        </p>

        <script>
        
            <% if(id) { %>
                $.ajax({
                    type : "GET",
                    url : "/rest/scenarios/<%=id %>",
                    success : function(e){
                        $('#scenario-title').val(e.title);
                        $('#scenario-text').val(e.text);
                    },
                    error: function(error){
                        console.log("error", error);                
                    }
                });

                var ajaxType = "PUT";
                var ajaxUrl = "/rest/scenarios/<%=id %>";
            <% } else { %>
                var ajaxType = "POST";
                var ajaxUrl = "/rest/scenarios";
            <% } %>

            var handle = function() {
                var o = {
                    title : $('#scenario-title').val(),
                    text : $('#scenario-text').val(),
                }
                $.ajax({
                    type : ajaxType,
                    url : ajaxUrl,
                    data : JSON.stringify(o),
                    contentType : 'application/json',
                    success : function(o){
                        window.location = "/scenarios/" + o._id;
                    },
                    error: function(){
                        console.log("error", error);                
                    }
                });
            };

            $('#scenario-send').click(handle);
            $('#scenario-title').on("keypress", function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    handle();
                }
            });
            $('#scenario-text').on("keypress", function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    handle();
                }
            });

        </script>

<% include ../footer %>
