<% include ../header %>

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/scenarios">Scenarios</a></li>
    <li class="active"><%= scenario.title %></li>
</ol>

<div class="row">
    <h1><%= title %></h1>
    <script type="text/jsx" src="/static/js/scenarios.js"></script>
    <script type="text/jsx">
        React.render(<Scenario scenarioId="<%= scenario.id %>"/>, document.getElementById('content'));
    </script>
    <div id="content"></div>
</div>
<% include ../footer %>
