<% include ../header %>

    <div class="row">
        <% if(id) { %>
        <h1>Edit User</h1>
        <% } else { %>
        <h1>Create a new User</h1>
        <% } %>

        <p>
        Roles: <input type="text" id="user-roles"><br>
        <% if(id) { %>
        <button id="user-send">Edit</button>
        <% } else { %>
        <button id="user-send">Create</button>
        <% } %>
        </p>

        <script>
        
            <% if(id) { %>
                $.ajax({
                    type : "GET",
                    url : "/users/<%=id %>",
                    dataType : 'json',
                    success : function(e){
                        if(e.roles) {
                            $('#user-roles').val(e.roles.join(" "));
                        }
                    },
                    error: function(error){
                        console.log("error", error);                
                    }
                });

                var ajaxType = "PUT";
                var ajaxUrl = "/users/<%=id %>";
            <% } else { %>
                var ajaxType = "POST";
                var ajaxUrl = "/users";
            <% } %>

            var handle = function() {
                var o = {
                    roles : $('#user-roles').val().split(" ")
                }
                $.ajax({
                    type : ajaxType,
                    url : ajaxUrl,
                    data : JSON.stringify(o),
                    contentType : 'application/json',
                    success : function(o){
                        window.location = "/users/" + o.uuid;
                    },
                    error: function(e){
                        console.log("error", e);                
                    }
                });
            };

            $('#user-send').click(handle);
            $('#user-roles').on("keypress", function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    handle();
                }
            });

        </script>

<% include ../footer %>
